input[type = "search"]{
    border: none;
    outline: none;
    width: 90%;
}

.searchPanel{
    border: 1px solid #cacaca;
    border-radius: 5px;
}

i{
    cursor: pointer;
}

.centered-modal{
    backdrop-filter: blur(20px);
    justify-content: center;
    align-items: center;
}

header{
    position: fixed;
    width: 100%;
    background: #000;
    z-index: 1000;
    top: 0px;
}

main{
    margin-top: 7em;
}